/* 
========
Fonts
========
 */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/* 
 ============
 Variables
 ============
  */
:root {
    --ffopensans: "Open Sans", sans-serif;
    --ffprimary: "Roboto", sans-serif;
    --colorwhite: #fff;
    --colorwhite2: hsl(210, 36%, 96%);
    --colordarkblue: hsl(209, 61%, 16%);
    --colorgrey: hsl(210, 22%, 49%);
    --colorblack: #222;
    --colorblue: hsla(182, 63%, 54%);
    --spacing: 0.25rem;
    --transition: all 0.3s linear;
    --radius: 0.5rem
}

/* 
  ==============
  Global styles
  ==============
   */
html {
    scroll-behavior: smooth;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ffopensans);
    font-size: 0.875rem;
    line-height: 1.5;
    color: var(--colordarkblue);
    background: var(--colorwhite2);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img:not(.logo) {
    width: 100%;
}

img {
    display: block;
}

h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    font-family: var(--ffprimary);
    line-height: 1.25;
    text-transform: capitalize;
    margin-bottom: 0.75rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 0.875rem;
}

p {
    margin-bottom: 1.25rem;
    color: var(--colorgrey);
}

@media screen and (min-width:800px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1rem;
    }

    body {
        font-size: 1rem;
    }

    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
}

/* global classes */
.btn {
    text-transform: uppercase;
    display: inline-block;
    background: transparent;
    border-color: transparent;
    padding: 0.375rem 0.75rem;
    color: var(--colorblack);
    transition: var(--transition);
    letter-spacing: var(--spacing);
    cursor: pointer;
    font-size: 0.875rem;
    border: 2px solid var(--colorblack);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
    --lightshadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    background: var(--colorblack);
    color: var(--colorwhite);
}

.btn-white {
    color: var(--colorwhite);
    border-radius: 0;
    border-color: var(--colorwhite);
    padding: 0.5rem 1rem;
}

.btn:hover {
    background: var(--colorwhite);
    color: var(--colorblue);
}

/* section */
.section {
    padding-bottom: 5rem;
}

.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
}

@media screen and (min-width:992px) {
    .section-center {
        width: 95vw;
    }
}

main {
    min-width: 100vh;
    display: grid;
    place-items: center;
}

/* 
=========
Scroll
=========
 */
/* navbar */
nav {
    background: var(--colorwhite);
    padding: 1rem 1.5rem;
}

.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--colorwhite);
    box-shadow: var(--lightshadow);
}

.fixed-nav .links a {
    color: var(--colordarkblue);
}

.fixed-nav .links a:hover {
    color: var(--colorblue);
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 50px;
}

.nav-toggle {
    font-size: 1.5rem;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    transition: var(--transition);
    color: var(--colordarkblue);
}

.nav-toggle:hover {
    color: var(--colorblue);
}

.links-container {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.show-links {
    height: 200px;
}

.links a {
    background: var(--colorwhite);
    color: var(--colorgrey);
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    transition: var(--transition);
    font-weight: bold;
    padding: 0.75rem 0;
}

.links a:hover {
    color: var(--colordarkblue);
}

@media screen and (min-width:800px) {
    nav {
        background: transparent;
    }
    .nav-center {
        width: 90vw;
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-header {
        padding: 0;
    }
    .nav-toggle {
        display: none;
    }

    .links-container {
        height: auto !important;
    }

    .links {
        display: flex;
    }

    .links a {
        background: transparent;
        color: var(--colorwhite);
        font-size: 1.1rem;
        text-transform: capitalize;
        letter-spacing: var(--spacing);
        display: block;
        transition: var(--transition);
        margin: 0 1rem;
        font-weight: bold;
        padding: 0;
    }

    .links a:hover {
        color: var(--colorwhite);
    }
}

/* hero */
header {
    min-height: 100vh;
    background: linear-gradient(rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.7)), url(hero.jpeg) center/cover no-repeat;
}

.banner {
    min-height: 100vh;
    display: grid;
    place-items: center;
    text-align: center;
}

.container h1 {
    color: var(--colorwhite);
    text-transform: uppercase;
}

.container p {
    color: var(--colorwhite);
    max-width: 25rem;
    margin: 0 auto;
    margin-bottom: 1.25rem;
}

@media screen and (min-width:768px) {
    .container p {
        max-width: 40rem;
    }
}

/* sections and title  */
.title h2 {
    text-align: center;
    text-transform: uppercase;
}

.title span {
    color: var(--colorblue);
}

#about,
#services,
#tours {
    height: 80vh;
}

#services {
    background: var(--colorwhite);
}

footer {
    background: var(--colordarkblue);
    padding: 5rem 1rem;
}

footer p {
    color: var(--colorwhite);
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 0;
    letter-spacing: var(--spacing);
}

.top-link {
    font-size: 1.25rem;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    background: var(--colorblue);
    width: 2rem;
    height: 2rem;
    display: grid;
    place-items: center;
    border-radius: var(--radius);
    color: var(--colorwhite);
    animation: bounce 2s ease-in-out infinite;
    visibility: hidden;
    z-index: -100;
}

.show-link {
    visibility: visible;
    z-index: 100;
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}